#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.container {
  width: 350px;
  height: 700px;
  display: flex;
  background-color: var(--color-theme);
  box-shadow: var(--box-shadow);

  border-radius: 50px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
}

.weather {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.weather__header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .weather__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
  }

  .weather__search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .weather__input {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 20px;
      padding: 0 50px 0 20px;
      font-size: 1.6rem;
      font-weight: 500;
      outline: none;
      background-color: #f2f2f2;
      transition: all 0.3s linear;
    }

    .weather__input:focus {
      box-shadow: var(--box-shadow-inset);
    }

    .icon-search {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@mixin onCircle($count, $deg, $radius) {
  @for$i from 1 through $count {
    &:nth-of-type(#{$i}) {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 1px;
      height: 90%;
      background-color: var(--color-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      transform: translate(-50%, -50%) rotate($deg * $i - 90deg);
    }
  }
}

.weather__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  .weather__location {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 20px 0;
    box-shadow: var(--box-shadow-secondary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
  }

  .weather__city {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
  }

  .weather__temp {
    position: relative;
    height: 270px;
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weather__temp--teamplace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    box-shadow: var(--box-shadow-inset);
    display: flex;
  }

  .weather__temp--spoke {
    @include onCircle(6, 30, 135px);
  }

  .weather__temp--value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 600;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    background-color: var(--color-theme);
    z-index: 99;

    span {
      color: var(--color-primary);
    }
  }

  .weather__status {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;

    .weather__status--item:nth-of-type(1) .icon {
      color: var(--color-primary);
    }
    .weather__status--item:nth-of-type(2) .icon {
      color: var(--color-secondary);
    }
  }

  .weather__status--item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
  }

  .weather__status--text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
  to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
  3%,
  47%,
  to {
    stroke-dashoffset: -12;
  }

  14%,
  36% {
    stroke-dashoffset: 0;
  }
}

#toasts {
  position: fixed;
  top: 80px;
  right: 10px;
  display: flex;
  flex-direction: column;
  z-index: 9999;
}

.toast {
  padding: 20px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  animation: show_slide 1s ease forwards;
  display: flex;
  align-items: center;
  border-left: 6px solid;
  opacity: 1;
  max-width: unset;
}

.toast.success {
  background-color: rgba(0, 128, 0, 0.4);
  border-color: rgb(0, 128, 0);
}

.toast.error {
  background-color: rgba(255, 0, 0, 0.4);
  border-color: rgb(255, 0, 0);
}

.toast .icon {
  font-size: 28px;
  color: white;
}

.toast .msg {
  padding: 0 20px;
  font-size: 16px;
  color: white;
}

.countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  animation: countdown 4s linear forwards;
}

.toast.success .countdown {
  background-color: rgb(0, 128, 0);
}

.toast.warning .countdown {
  background-color: rgb(255, 165, 0);
}

.toast.error .countdown {
  background-color: rgb(255, 0, 0);
}

@keyframes countdown {
  20% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(120%);
  }
}

/* footer */
.footer {
  padding: 2rem 0;
  background-color: var(--dark-color);
  border-top: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  font-size: 2.5rem;
}

.footer span {
  color: var(--white-color);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span .icon {
  font-size: 1rem;
  margin: 0 0.5rem;
  color: red;
}

@media screen and (max-width: 992px) {
  .contact__form-group:nth-child(1),
  .contact__form-group:nth-child(2) {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .skill__content--img {
    width: 50%;
  }
  nav {
    padding: 0 2rem;
    position: relative;
  }

  .menu-bar {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 1px;
    background-color: var(--white-color);
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menu-bar::before,
  .menu-bar::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: var(--white-color);
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .menu-bar::before {
    transform: translateY(-8px);
    width: 25px;
  }
  .menu-bar::after {
    transform: translateY(8px);
    width: 20px;
  }

  #menu-bar:checked ~ .menu-bar {
    background-color: transparent;
  }

  #menu-bar:checked ~ .menu-bar::before {
    transform: rotate(45deg) translate(-5px, 5px);
  }
  #menu-bar:checked ~ .menu-bar::after {
    transform: rotate(-45deg) translate(-5px, -5px);
    width: 25px;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s ease;
    transform: translateX(100%);
  }

  .menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .menu ul li {
    margin: 1rem 0;
  }

  #menu-bar:checked ~ .menu {
    transform: translateX(0);
  }

  .contact__content {
    flex-direction: column;
  }

  .contact__content-info {
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  .contact__info-title {
    font-size: 1rem;
  }

  .contact__info a {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .home__img,
  .about__img,
  .skill__content--img {
    display: none;
  }

  .content-img {
    flex: 1;
  }

  .skill__item {
    width: 150px;
    height: 150px;
  }

  .footer h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    transform: scale(0.8);
  }
}
